# configs/traj_tptrans.yaml
task: trajectory

# CHANGE TO YOUR DATA PATH
processed_dir: data/processed/map_reduced/ #/dtu/blackhole/10/178320/preprocessed_2/final/
out_dir: data/checkpoints/

window: 64       
horizon: 12      

start_mode: kmeans  
kmeans:
  n_clusters: 50
  samples_per_traj: 200
  max_points: 200000
  n_init: 10
  random_state: 42

# The model only use the first 4: [LAT, LON, SOG, COG].
features: [LAT, LON, SOG, COG, HEADING, ROT, NAV_STT, TIMESTAMP, MMSI]

model:
  name: tptrans
  d_model: 512      # latent dimension
  nhead:  8          # Transformer heads
  enc_layers: 8     # encoder depth
  dec_layers: 8     # decoder depth

loss: huber
optimizer: adamw

lr: 0.0003          
batch_size: 512 
epochs: 200                
epoch_samples: 5

early_stop_patience: 5     
early_stop_min_delta: 1e-3 

huber_delta: 1.0    
clip_norm: 1.0      

wandb_group: tp_trans_local_medium
run_name: tptrans_medium_run