name: ais
channels:
  - pytorch
  - nvidia
  - conda-forge
dependencies:
  - python=3.11
  - pip
  - numpy
  - pandas
  - pyarrow
  - shapely
  - geopandas
  - scikit-learn
  - matplotlib
  - tqdm
  - pyyaml
  - pytorch
  - torchvision
  - pytorch-cuda=12.1  # comment out for CPU-only
  - pip:
      - h3
